.center-in-center{   
            position: absolute;   
            top: 25%;   
            left: 25%;  
} 

.center-in-center-dot-cancellation{   
            position: absolute;   
            left: 25%;  
} 
.imgClass{
	max-height: 50px;
    max-width : 50px;
}

.task-explanation{
	position:absolute;
	width:250px;
	z-index:999;
	left:40px;
	bottom: 100px;
}
.timer{
	position:absolute;
	width:250px;
	z-index:999;
	left:40px;
	top: 200px;
}
